<!doctype html>
<title>Tenureism</title>
<body background="uci.jpg">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css"
    rel="stylesheet" type="text/css"
>
<div class=page>
  <h1>Stock plotter</h1>

  <div class=metanav>


    <h2>Please enter a department, e.g. 'biology'.</h2>

    <h4>
      <form id='answerform' method='post' action='plotpage' >
	<p>
		Department : <input type='text' name='departmentText' /> <!---tickerText--->
	  </p>
        <p>
		<!-- hidden input means that even if nothing is checked, sanity ensured -->
		<!-- see http://www.sitepoint.com/html-radio-radio-button-defaults/ -->
		<!-- input type="hidden" name='pricecheck' value='Close' / -->
        </p>

        <p>
          <input type='submit' value='Plot' />
        </p>
      </form>
    </h4>
	<h2> {{ msg }} </h2>
  </div>
</div>
